body {
    min-height: 95vh;
    background-color: #dfdfdf;
    color: #555555;
}

.base {
    text-align: center;
    min-height: calc( 100vh - 30px );
    margin: 10px;
    border: 5px solid #555555;
}

.container {
    margin: auto;
    width: 80%;
    padding: 10px;
    position: relative;
}

.header {
    width: 100%;
    border-bottom: 2px solid #555555;
    margin: auto;
    /*overflow: hidden;*/
}

.heading {
    font-family: "Architects Daughter";
    font-size: 46px;
    font-weight: bold;
    margin: 10px;
    text-shadow: 4px 4px 4px #aaaaaa;
}

.navcontainer {
    margin-top: 10px;
    font-family: "Architects Daughter";
    font-size: 20px;
    /*overflow: hidden;*/
}

.contenttabs {
    height: auto;
}

ul#tabs {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0 0 5px 0;
}

ul#tabs li {
    display: inline;
}

ul#tabs li a {
    color: #555555;
    background-color: #b1b1b1;
    border: 1px solid #555555;
    border-bottom: none;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
}

ul#tabs li a:hover {
    background-color: #cfcfcf;
}

ul#tabs li a.selected {
    color: #000;
    background-color: #dfdfdf;
    padding: 5px 10px 7px;
}

.twocolumns {
    display: table;
    border-collapse: separate;
    width: 100%;
}

.col {
    display: table-cell;
    padding: 10px;
    width: 50%;
    vertical-align: middle;
}

.imga:focus {
    outline: none;
}

.profileimage {
    height: auto;
    width: 75%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #aaaaaa;
    /*border: 2px solid #555555;*/
}

.introdiv {
    font-family: "Architects Daughter";
    font-size: 22px;
    text-shadow: 2px 2px 2px #aaaaaa;
}

div.tabcontent {
    padding: 20px;
    font-family: "Architects Daughter";
}

div.tabcontent.hide {
    display: none;
}

.footer {
    text-align: center;
    vertical-align: bottom;
}

.socialtable {
    margin: auto;
}

.socialtable tr td {
    padding: 0 10px;
}

.socialimg {
    width: 40px;
    height: auto;
}

.footnote {
    font-family: "Roboto";
    font-size: 12px;
    margin: 10px 0 0;
}

.footname {
    font-weight: bold;
}

.footimga:focus {
    outline: none;
}

.footimga:hover {
    background: rgba(0, 0, 0, 0.0);
}
